@model Portfolio
@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>
<div>
    <div class="card" style="width: 18rem;">
        <form method="post" enctype="multipart/form-data">
            <img src="~/uploads/portfolios/@Model.ImageUrl" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">@Model.Caption</h5>
                <h5 class="card-text">@Model.Category</h5>
                <a asp-action="index" asp-controller="portfolio" class="btn btn-primary">Go to back</a>
                <button type="submit" class="btn btn-danger">Delete</button>
            </div>
        </form>
    </div>
</div>
