@model Portfolio
@{
    ViewData["Title"] = "Update";
}

<h2>Update</h2>
<div class="container-fluid">
    <form method="post" enctype="multipart/form-data">
        <div class="mb-3">
            <label asp-for="Caption" /></label>
            <input asp-for="Caption" placeholder="Caption">
            <span asp-validation-for="Caption"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Category" /></label>
            <input asp-for="Category" placeholder="Category">
            <span asp-validation-for="Category"></span>
        </div>
        <div class="mb-3 form-check">
            <label asp-for="ImageFile" /></label>
            <input asp-for="ImageFile" placeholder="ImageFile">
            <span asp-validation-for="ImageFile"></span>
        </div>
        <button type="submit" class="btn btn-warning">Update</button>
    </form>
</div>
